body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "playerOne search search playerTwo"
    "left left none none"
    "coinOne test test test"
    "coinTwo empty empty empty";
  border-style: solid;
  height: 100vh;
  margin: 0%;
  padding: 0.5%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  color: white;
}

#listContainer {
  grid-area: search;
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#playerOne {
  justify-self: end;
  margin-top: 20%;
  grid-area: playerOne;
  border-style: solid;
  max-width: max-content;
  position: relative;
}
#playerTwo {
  justify-self: start;
  margin-top: 20%;
  grid-area: playerTwo;
  border-style: solid;
  max-width: max-content;
  position: relative;
  transform: scaleX(-1);
}

#playerScores {
  border-style: solid;
}

#barContainer {
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#barOne {
  background-color: chartreuse;
}

#barTwo {
  background-color: blue;
}

a{
  color: yellow;
}