#title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(16, 170, 16);
}

#description {
  color: rgb(74, 133, 221);
}

#rules {
  color: rgb(74, 133, 221);
}

#enjoy {
  color: rgb(74, 133, 221);
}

html {
  background-color: rgb(241, 209, 173);
}

.flyingMoney {
  position: absolute;
  animation: flyingMoney linear 1s infinite;
}

@keyframes flyingMoney {
  0% {
    left: 920px;
    bottom: 590px;
  }
  25% {
    left: 920px;
    bottom: 620px;
  }
  50% {
    left: 920px;
    bottom: 640px;
  }
  75% {
    left: 920px;
    bottom: 620px;
  }
  100% {
    left: 920px;
    bottom: 590px;
  }
}
.flyingMoneyReverse {
  transform: scaleX(-1);
  position: absolute;
  animation: flyingMoneyReverse linear 1s infinite;
}

@keyframes flyingMoneyReverse {
  0% {
    left: 320px;
    bottom: 590px;
  }
  25% {
    left: 320px;
    bottom: 620px;
  }
  50% {
    left: 320px;
    bottom: 640px;
  }
  75% {
    left: 320px;
    bottom: 620px;
  }
  100% {
    left: 320px;
    bottom: 590px;
  }
}

.bear {
  position: absolute;
  transform: scaleX(-1);
  bottom: 100px;
  left: 200px;
}
